html, body {
    font-family: "Open Sans", YuGothic, "游ゴシック", "MS Ｐゴシック", "MS P Gothic", "MS-PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, arial, helvetica, clean, sans-serif;
    position: relative;
}

html, body {
    font-size: 14px;
    color: #000;
}

html {
    box-sizing: border-box;
}

main, section, nav, div, ul, li {
    box-sizing: border-box;
}

html small, html .sm, html .cap, body small, body .sm, body .cap {
    font-size: 0.8rem;
    letter-spacing: 0.08em;
}

body, th, td, h1, h2, h3, h4, h5, h6, pre, input, textarea, option, div, p, dt, dd, li, address {
    font-weight: normal;
    font-style: normal;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, menu, nav, section, menu, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background-color: transparent;
}

input, textarea, button {
    border-radius: 0 !important;
    -webkit-appearance: none !important;
    outline: 0 !important;
}

button a, button input[type="submit"] {
    box-sizing: border-box;
    display: block;
    border: 1px solid transparent;
    font-size: 1rem;
    letter-spacing: 0.14em;
    white-space: nowrap;
}

html h3 span, html .lv3 span, body h3 span, body .lv3 span {
    font-size: 20px;
}

.ttl {
    font-family: "Asap", YuGothic, "游ゴシック", "MS Ｐゴシック", "MS P Gothic", "MS-PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, arial, helvetica, clean, sans-serif;
}

html p span, html dt span, html dd span, body p span, body dt span, body dd span {
    line-height: 2;
    letter-spacing: 0.08em;
}

html h1, html h2, html h3, html h4, html .lv1, html .lv2, html .lv3, html .lv4, body h1, body h2, body h3, body h4, body .lv1, body .lv2, body .lv3, body .lv4 {
    line-height: 1;
    font-weight: 600;
    letter-spacing: 0.12rem;
}

dl.tb dt, dl.tb dd {
    display: table-cell;
}

body.top h2 span::before, body.top h2 span::after {
    content: "";
    display: block;
}

*, *:before, *:after {
    box-sizing: inherit;
}

