@media only screen and (max-width: 900px){
html,body {
    font-size: 11px;
    color: #000;
}

header div.header_wrap {
    display: block;
}

.header_wrap div.img {
    width: 25%;
}

.header_wrap nav.gnav_tc {
    display: none;
}

#wrapAll main section {
    padding: 0 2rem;
}

body.top section.mv {
    margin-top: 20px;
}

body.top section.mv div.secwrap_b div.img {
    height: 5vh;
}

}