
html, body {
    font-size: 11px;
    color: #000;
}

html, body {
    font-family: "Open Sans", YuGothic, "游ゴシック", "MS Ｐゴシック", "MS P Gothic", "MS-PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, arial, helvetica, clean, sans-serif;
    position: relative;
}

html {
    box-sizing: border-box;
}

body.top #wrapAll {
    overflow: hidden;
    opacity: 0;
    position: relative;
    z-index: 1;
}

body.load #wrapAll {
    opacity: 1 !important;
}

header {
    width: 100% !important;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    padding: 3rem 4rem;
    z-index: 200;
}

body.top header {
    opacity: 0;
}

header div.header_wrap {
    width: 100%;
    position: relative;
}

header div.header_wrap div.img {
    position: absolute;
    width: 15%;
    max-width: 176px;
    z-index: 50;
}

a {
    color: #000;
}
a {
    text-decoration: none;
}
a {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

a#menubtn ul {
    width: 100%;
    height: 100%;
    position: relative;
}

ul {
    list-style: none;
}

/*---------------------
main
-----------------------*/

div#wrapAll main {
    width: 100%;
    max-width: 1480px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

body.top section.mv div.secwrap_b {
    position: relative;
}

body.load.top section.mv div.secwrap_b div.img {
    opacity: 0;
}

body.top section.mv div.secwrap_b div#slide {
    position: absolute;
    width: 100%;
    height: 100% !important;
    top: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
}

body.top section.mv div.secwrap_b div#slide div.slide_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

body.top section.mv div.secwrap_b div#slide div.slide_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

body.top section.mv div.secwrap_b div#slide div.slide_wrap {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
}

body.top section.mv div.secwrap_b div.scroll img {
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

body.top section.mv div.secwrap_b div.scroll p {
    text-align: center;
}

body.top section.concept div.secwrap div.img {
    width: 75%;
    height: 40rem;
    z-index: 2;
    position: relative;
    overflow: hidden;
}

body.top section.concept div.secwrap div.img div.imgwrap {
    width: 100%;
    height: 100%;
    background: url(./images/secming.webp) center center no-repeat;
    background-size: cover;
}

body.top section.concept div.secwrap div.txt {
    position: absolute;
    z-index: 10;
    width: 37.5%;
    right: 0;
    bottom: 0;
}

body.top h2 {
    margin-bottom: 3rem;
}

body.top h2 span {
    font-size: 1.8rem;
    letter-spacing: 0.12em;
}

body.top section.concept div.secwrap div.txt p.lead {
    white-space: nowrap;
}


body.top div.btn {
    text-align: right;
}

button {
    border-style: none;
    padding: 0;
    background-color: transparent;
}

/*---------------------
section
-----------------------*/

div.hr {
    width: 100%;
}

/*---------------------
section_class_menu
-----------------------*/

body.top section.menu div.secwrap div.ttl {
    position: absolute;
    top: 0;
    left: 0;
}

.ttl {
    font-family: "Asap", YuGothic, "游ゴシック", "MS Ｐゴシック", "MS P Gothic", "MS-PGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, arial, helvetica, clean, sans-serif;
}

body.top h2 {
    margin-bottom: 3rem;
}

body.top h2 span {
    font-size: 1.8rem;
    letter-spacing: 0.12em;
}

body.top section.menu div.secwrap div.body {
    position: relative;
}

ul.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: flex-start;
    -webkit-align-items: stretch;
}

body.top section.menu div.secwrap div.body ul li a {
    display: block;
}

body.top section.menu div.secwrap div.body ul li a div.liwrap {
    position: relative;
    width: 100%;
    height: 100%;
}

body.top section.menu div.secwrap div.body ul li a div.liwrap div.img {
    position: relative;
    width: calc( 100% - 1rem);
}

body.top section.menu div.secwrap div.body ul li a div.liwrap div.img .img1 {
    position: absolute;
    top: 0rem;
    right: 0rem;
    z-index: 3;
}

body.top section.menu div.secwrap div.body ul li a div.liwrap div.img .img2 {
    position: relative;
    z-index: 0;
    top: 1rem;
    right: -1rem;
}

body.top section.menu div.secwrap div.body ul li a div.liwrap div.txt {
    position: absolute;
    top: 50%;
    padding-right: 1rem;
    margin-top: -4rem;
    text-align: center;
    width: 100%;
    z-index: 5;
}

/*---------------------
section_class_secimg
-----------------------*/



/*---------------------
footer
-----------------------*/

footer {
    background-color: #DEE4E5;
}