@charset "UTF-8";

/*---------------------
header
-----------------------*/
header{
    background-color: blueviolet;
}


/*---------------------
section
-----------------------*/


/*---------------------
section_class_menu
-----------------------*/


/*---------------------
section_class_secimg
-----------------------*/



/*---------------------
footer
-----------------------*/

footer {
    background-color: #DEE4E5;
}

.footer_wrap {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 6rem;
    padding-bottom: 3rem;
}

.f_nav {
    display: flex;
}

.f_nav_box {
    width: 33.333%;
}

h4 {
    margin-bottom: 2rem;
}

footer div.footer_wrap div.f_nav div.f_nav_box div.txt div.btn button.ftbtn {
    width: 100%;
    margin-top: 1rem;
    position: relative;
}